<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <!-- Yandex.Direct configuration section registration. -->
    
    <section name="yandex.direct" type="Yandex.Direct.Configuration.YandexDirectSectionOld, Yandex.Direct"/>
    
  </configSections>

  <!-- Yandex.Direct API configuration section
  
      serviceUrl   - address to Yandex.Direct API service endpint.
                     Optional, by default: https://soap.direct.yandex.ru/json-api/v4/.
                   
      language     - language of Yandex.Direct API service response messages.
                     Possible values: Russian, English, Ukrainian.
                     Optional, by default: English.
                   
      authProvider - authentification provider to authentificate on Yandex.Direct API service.
  
  -->

  <yandex.direct serviceUrl="https://soap.direct.yandex.ru/json-api/v4/" language="English">

    <!-- Authentification by a certificate stored in .pfx or .p12 file. -->

    <authProvider type="Yandex.Direct.Authentication.FileCertificateAuthProvider, Yandex.Direct">
      <add key="login" value="login" />
      <add key="masterToken" value="token" />
      <add key="certificatePath" value="path" />
      <add key="certificatePassword" value="password" />
    </authProvider>

    <!-- Authentification by a certificate stored in Windows cerificate store. -->

    <!--
    <authProvider type="Yandex.Direct.Authentication.StoredCertificateAuthProvider, Yandex.Direct">
      <add key="login" value="login" />
      <add key="masterToken" value="token" />
    </authProvider>
    -->
    
    <!-- Authentification by an application token issued by Yandex.Direct. -->

    <!--
    <authProvider type="Yandex.Direct.Authentication.TokenAuthProvider, Yandex.Direct">
      <add key="login" value="login" />
      <add key="masterToken" value="token" />
      <add key="applicationId" value="applicationId" />
      <add key="token" value="token" />
    </authProvider>
    -->

  </yandex.direct>

</configuration>