<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Copy this section to exe config file -->
    <section name="yandex.direct" type="Yandex.Direct.Configuration.YandexDirectSection, Yandex.Direct"/>
  </configSections>

  <!-- And this part too, for details see readme.txt -->
  <yandex.direct
    certificatePath="S:\cert.pfx"
    certificatePassword=""
    language="Russian"
    masterToken=""
    login="" />

</configuration>