<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="yandex.direct" type="Yandex.Direct.Configuration.YandexDirectSection, Yandex.Direct"/>
  </configSections>

  <yandex.direct serviceUrl="http://serviceUrl/" language="Ukrainian">
    <authProvider type="Yandex.Direct.Authentication.FileCertificateAuthProvider, Yandex.Direct">
      <add key="login" value="loginValue" />
      <add key="masterToken" value="tokenValue" />
      <add key="certificatePath" value="pathValue" />
    </authProvider>
  </yandex.direct>

</configuration>