<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="yandex.direct" type="Yandex.Direct.Configuration.YandexDirectSection, Yandex.Direct"/>
  </configSections>

  <yandex.direct
    authType="Certificate"
    certificatePath="S:\cert.pfx"
    certificatePassword="123"
    language="Russian"
    masterToken=""
    login="" />

</configuration>